@import url('https://fonts.cdnfonts.com/css/the-bold-font');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 46% 11%;
    --foreground: 286 7.1% 98.1%;

    --muted: 286 35.5% 18.6%;
    --muted-foreground: 286 7.1% 56.2%;

    --popover: 286 50.8% 8.06%;
    --popover-foreground: 286 7.1% 98.1%;

    --card: 0 0% 0% 0;
    --card-foreground: 286 7.1% 98.1%;

    --border: 286 35.5% 36.6%;
    --input: 286 35.5% 18.6%;

    --primary: 269 71% 62%;
    --primary-foreground: 286 7.1% 98.1%;

    --secondary: 239 41% 40%;
    --secondary-foreground: 286 7.1% 98.1%;

    --accent: 239 41% 40%;
    --accent-foreground: 286 7.1% 98.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 286 7.1% 98.1%;

    --ring: 269 71% 62%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
